
  <connectionStrings>
 
    <add name="NyBudget" 
         connectionString="data source=LAPTOP-C01BHCG6\SQLEXPRESS;
         initial catalog=NYbudget;integrated security=True;
         MultipleActiveResultSets=True;
         App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

