@model IEnumerable<FinancialPortal.Models.HouseholdRolesView>

@{
	ViewBag.Title = "HouseholdRolesViews";
}

<h2>HouseholdRolesViews</h2>

<table id="mytable" class="table">
	<thead>
		<tr>
			<th>
				User Name
			</th>

			<th>
				Role
			</th>
		</tr>

	</thead>


	<tbody>
		@foreach (var mod in Model)
		{
			<tr>
				<td>
					<p>@mod.User.FullName | @Html.ActionLink("Edit Roles", "EditUser", new { id = mod.User.Id })</p>
				</td>

				<td>
					@foreach (var role in mod.RoleList)
					{
						@role
					}
			</tr>

		}

	</tbody>
</table>


<script>
	$('#mytable').DataTable();
</script>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
